a {
  text-decoration: none;
  color: white;
}
html {
  font-family: "Open Sans", sans-serif;
}

#navbar-text li a {
  color: white;
}

#navbar-text li a:hover {
  opacity: 0.6;
}
.semih-bg:hover {
  background: #468189;
}
.kadir-bg:hover {
  background: rgb(170, 170, 170);
}
.emre-bg:hover {
  background: rgb(247, 193, 94);
}

#contact ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
#contact ul li a {
  color: black;
  padding: 0.4rem;
  font-size: 1.6rem;
}

#contact ul li a:hover {
  opacity: 0.6;
}
